.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: toRem(10) toRem(16);
	font-size: toRem(12);
	border-radius: toRem(5);
	background-color: var(--secondary);
	&--fill {
		transition: opacity 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&--border {
		border: toRem(1) solid var(--secondary);
		border-radius: toRem(10);
		background-color: transparent;
		transition: background 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				background-color: var(--secondary);
			}
		}
	}
	&--bold {
		font-size: toRem(16);
		font-weight: 500;
	}
}
