<bq-header>
	<a [routerLink]="['/cart']" class="header__link header__link--back" aria-label="Move to cart"></a>
	<h1 class="header__title fz-14">Category</h1>
	<a [routerLink]="['/explore']" class="header__link header__link--forward"
		aria-label="Move to nearby food outlets"></a>
</bq-header>
<main class="page">
	<section class="page__category category">
		<div class="category__container">
			<bq-search [products]="products" (searchedValue)="onSearch($event)"></bq-search>
			<bq-category-nav (searchedCategory)="onFilter($event)"></bq-category-nav>
			<ul class="category__products">
				<bq-product-item *ngFor="let product of sortedProducts" [product]="product"></bq-product-item>
			</ul>
		</div>
	</section>
</main>