[class*="_icon-"]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-notice:before {
  content: "\e906";
}
._icon-favorite:before {
  content: "\e900";
}
._icon-user:before {
  content: "\e901";
}
._icon-cart:before {
  content: "\e902";
}
._icon-explore:before {
  content: "\e903";
}
._icon-home:before {
  content: "\e904";
}
._icon-category:before {
  content: "\e905";
}
